.input-range-style {
    display: flex;
    justify-content: space-between;
}

.prifilter-container {
    /* display: flex; */
    min-width: 300px;
    padding: 30px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.prifilter-container input {
    width: 100%;
}